In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('nba_games.csv')
df = df.sort_values(by='date', ascending=True)
df = df.reset_index(drop=True)
df.head()

,Unnamed: 0,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,16086,240.0,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,...,69.4,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False
1,16904,240.0,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,...,53.2,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False
2,16905,240.0,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,...,30.4,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True
3,16087,240.0,240.0,41.0,96.0,0.427,9.0,30.0,0.300,20.0,...,37.5,38.9,201.0,120.0,NOP,95,0,2016,2015-10-27,True
4,1225,240.0,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,...,33.3,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False

In [3]:
df = df.drop(['Unnamed: 0', 'mp', 'mp.1', 'mp_opp', 'mp_opp.1', '+/-', '+/-_opp',  'mp_max', 'mp_max.1', 'mp_max_opp', 'mp_max_opp.1'], axis=1)
cols_to_front = ['date', 'team', 'total', 'team_opp', 'total_opp', 'won']

df = df[cols_to_front + [col for col in df.columns if col not in cols_to_front]]

df.head()

,date,team,total,team_opp,total_opp,won,fg,fga,fg%,3p,...,trb%_max_opp,ast%_max_opp,stl%_max_opp,blk%_max_opp,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,home_opp,season
0,2015-10-27,NOP,95,GSW,111,False,35.0,83.0,0.422,6.0,...,25.2,50.1,19.1,7.9,69.4,43.7,206.0,104.0,1,2016
1,2015-10-27,CLE,95,CHI,97,False,38.0,94.0,0.404,9.0,...,26.0,30.3,2.8,14.0,53.2,34.6,162.0,104.0,1,2016
2,2015-10-27,CHI,97,CLE,95,True,37.0,87.0,0.425,7.0,...,23.8,31.2,2.8,18.5,30.4,29.0,138.0,105.0,0,2016
3,2015-10-27,GSW,111,NOP,95,True,41.0,96.0,0.427,9.0,...,13.6,43.4,5.3,6.3,37.5,38.9,201.0,120.0,0,2016
4,2015-10-27,ATL,94,DET,106,False,37.0,82.0,0.451,8.0,...,24.8,35.6,3.2,4.7,33.3,23.6,132.0,104.0,0,2016

In [4]:
df.shape

(17772, 140)

In [5]:
df['date'] = pd.to_datetime(df['date'])

In [6]:
df['season'].value_counts()

season
2022    2646
2016    2632
2018    2624
2019    2624
2017    2618
2021    2342
2020    2286
Name: count, dtype: int64

In [7]:
relevant_cols = ['fg', 'fga', 'fg%', '3p', '3pa', '3p%', 'ft', 'fta', 'ft%', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts']
avg_cols = ['season_avg_' + col for col in relevant_cols]
df[avg_cols] = 0
df[avg_cols].head()

,season_avg_fg,season_avg_fga,season_avg_fg%,season_avg_3p,season_avg_3pa,season_avg_3p%,season_avg_ft,season_avg_fta,season_avg_ft%,season_avg_orb,season_avg_drb,season_avg_trb,season_avg_ast,season_avg_stl,season_avg_blk,season_avg_tov,season_avg_pf,season_avg_pts
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [8]:
df_2016 = df[df['season'] == 2016].copy()
df_2016 = df_2016.reset_index(drop=True)

df_2017 = df[df['season'] == 2017].copy()
df_2017 = df_2017.reset_index(drop=True)

df_2018 = df[df['season'] == 2018].copy()
df_2018 = df_2018.reset_index(drop=True)

df_2019 = df[df['season'] == 2019].copy()
df_2019 = df_2019.reset_index(drop=True)

df_2020 = df[df['season'] == 2020].copy()
df_2020 = df_2020.reset_index(drop=True)

df_2021 = df[df['season'] == 2021].copy()
df_2021 = df_2021.reset_index(drop=True)

df_2022 = df[df['season'] == 2022].copy()
df_2022 = df_2022.reset_index(drop=True)

seasonal_dfs = [df_2016, df_2017, df_2018, df_2019, df_2020, df_2021, df_2022]

In [12]:
teams = df['team'].unique()
team_frames_2016 = {team: df_2016[df_2016['team'] == team].copy() for team in teams}
team_frames_2017 = {team: df_2017[df_2017['team'] == team].copy() for team in teams}
team_frames_2018 = {team: df_2018[df_2018['team'] == team].copy() for team in teams}
team_frames_2019 = {team: df_2019[df_2019['team'] == team].copy() for team in teams}
team_frames_2020 = {team: df_2020[df_2020['team'] == team].copy() for team in teams}
team_frames_2021 = {team: df_2021[df_2021['team'] == team].copy() for team in teams}
team_frames_2022 = {team: df_2022[df_2022['team'] == team].copy() for team in teams}

seasonal_team_frames = [team_frames_2016, team_frames_2017, team_frames_2018, team_frames_2019, team_frames_2020, team_frames_2021, team_frames_2022]

In [13]:
def calculate_season_avgs(df, stats):
    df_expnaded = df[stats].expanding().mean()
    return df_expnaded

for team_frames in seasonal_team_frames:
    for team, team_df in team_frames.items():
        team_df[avg_cols] = calculate_season_avgs(team_df, relevant_cols)

In [17]:
df_2016 = pd.concat([team_df for team_df in team_frames_2016.values()])
df_2016 = df_2016.sort_values(by='date', ascending=True)

df_2017 = pd.concat([team_df for team_df in team_frames_2017.values()])
df_2017 = df_2017.sort_values(by='date', ascending=True)

df_2018 = pd.concat([team_df for team_df in team_frames_2018.values()])
df_2018 = df_2018.sort_values(by='date', ascending=True)

df_2019 = pd.concat([team_df for team_df in team_frames_2019.values()])
df_2019 = df_2019.sort_values(by='date', ascending=True)

df_2020 = pd.concat([team_df for team_df in team_frames_2020.values()])
df_2020 = df_2020.sort_values(by='date', ascending=True)

df_2021 = pd.concat([team_df for team_df in team_frames_2021.values()])
df_2021 = df_2021.sort_values(by='date', ascending=True)

df_2022 = pd.concat([team_df for team_df in team_frames_2022.values()])
df_2022 = df_2022.sort_values(by='date', ascending=True)

seasonal_dfs = [df_2016, df_2017, df_2018, df_2019, df_2020, df_2021, df_2022]
df = pd.concat(seasonal_dfs)

In [18]:
df = df.sort_values(by='date', ascending=True)
df = df.reset_index(drop=True)

df.head(20)

,date,team,total,team_opp,total_opp,won,fg,fga,fg%,3p,...,season_avg_ft%,season_avg_orb,season_avg_drb,season_avg_trb,season_avg_ast,season_avg_stl,season_avg_blk,season_avg_tov,season_avg_pf,season_avg_pts
0,2015-10-27,NOP,95,GSW,111,False,35.0,83.0,0.422,6.0,...,0.7040,8.0,25.0,33.0,21.0,9.0,3.0,18.0,26.0,95.0
1,2015-10-27,CLE,95,CHI,97,False,38.0,94.0,0.404,9.0,...,0.5880,11.0,39.0,50.0,26.0,5.0,7.0,10.0,21.0,95.0
2,2015-10-27,DET,106,ATL,94,True,37.0,96.0,0.385,12.0,...,0.7690,23.0,36.0,59.0,23.0,5.0,3.0,15.0,15.0,106.0
3,2015-10-27,ATL,94,DET,106,False,37.0,82.0,0.451,8.0,...,0.8000,7.0,33.0,40.0,22.0,9.0,4.0,15.0,25.0,94.0
4,2015-10-27,CHI,97,CLE,95,True,37.0,87.0,0.425,7.0,...,0.6960,7.0,40.0,47.0,13.0,6.0,10.0,13.0,22.0,97.0
5,2015-10-27,GSW,111,NOP,95,True,41.0,96.0,0.427,9.0,...,0.9090,21.0,35.0,56.0,29.0,8.0,7.0,20.0,29.0,111.0
6,2015-10-28,MIA,104,CHO,94,True,36.0,73.0,0.493,12.0,...,0.9520,2.0,39.0,41.0,23.0,5.0,7.0,13.0,25.0,104.0
7,2015-10-28,WAS,88,ORL,87,True,33.0,84.0,0.393,7.0,...,0.6000,15.0,34.0,49.0,17.0,8.0,9.0,17.0,14.0,88.0
8,2015-10-28,LAL,111,MIN,112,False,35.0,90.0,0.389,9.0,...,0.9140,12.0,36.0,48.0,18.0,2.0,4.0,13.0,29.0,111.0
9,2015-10-28,SAC,104,LAC,111,False,41.0,94.0,0.436,11.0,...,0.6110,12.0,37.0,49.0,24.0,8.0,3.0,16.0,27.0,104.0
10,2015-10-28,NOP,94,POR,112,False,36.0,91.0,0.396,11.0,...,0.6575,6.5,29.5,36.0,20.0,8.0,2.5,14.5,21.5,94.5
11,2015-10-28,CHI,115,BRK,100,True,42.0,78.0,0.538,14.0,...,0.7730,6.0,37.0,43.0,16.5,7.5,6.5,16.0,23.0,106.0
12,2015-10-28,TOR,106,IND,99,True,36.0,80.0,0.450,7.0,...,0.6920,9.0,41.0,50.0,19.0,8.0,2.0,20.0,24.0,106.0
13,2015-10-28,CLE,106,MEM,76,True,41.0,84.0,0.488,13.0,...,0.6175,11.5,40.5,52.0,27.5,6.0,4.5,14.5,23.0,100.5
14,2015-10-28,IND,99,TOR,106,False,32.0,86.0,0.372,9.0,...,0.8390,8.0,32.0,40.0,23.0,14.0,3.0,13.0,30.0,99.0
15,2015-10-28,POR,112,NOP,94,True,44.0,88.0,0.500,12.0,...,0.8570,6.0,45.0,51.0,22.0,7.0,4.0,12.0,21.0,112.0
16,2015-10-28,BRK,100,CHI,115,False,39.0,93.0,0.419,0.0,...,0.7860,16.0,29.0,45.0,19.0,11.0,5.0,13.0,18.0,100.0
17,2015-10-28,MIN,112,LAL,111,True,38.0,83.0,0.458,5.0,...,0.8380,6.0,33.0,39.0,24.0,3.0,4.0,8.0,26.0,112.0
18,2015-10-28,ORL,87,WAS,88,False,37.0,100.0,0.370,5.0,...,0.6670,17.0,39.0,56.0,20.0,9.0,6.0,14.0,22.0,87.0
19,2015-10-28,SAS,106,OKC,112,False,45.0,93.0,0.484,5.0,...,0.8460,7.0,29.0,36.0,22.0,11.0,9.0,13.0,18.0,106.0

In [19]:
df.to_csv('nba_games_cleaned_with_avgs.csv')